In [1]:
-- Create Departments table
CREATE TABLE Departments (
    dept_no CHAR(4) NOT NULL,
    dept_name VARCHAR(50) NOT NULL,
    CONSTRAINT pk_Departments PRIMARY KEY (dept_no)
);

-- Create Dept_emp table
CREATE TABLE Dept_emp (
    emp_no INT NOT NULL,
    dept_no CHAR(4) NOT NULL,
    CONSTRAINT pk_Dept_emp PRIMARY KEY (emp_no, dept_no)
);

-- Create Dept_manager table
CREATE TABLE Dept_manager (
    dept_no CHAR(4) NOT NULL,
    emp_no INT NOT NULL,
    CONSTRAINT pk_Dept_manager PRIMARY KEY (dept_no, emp_no)
);

-- Create Employees table
CREATE TABLE Employees (
    emp_no INT NOT NULL,
    emp_title VARCHAR(50) NOT NULL,
    birth_date DATE NOT NULL,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    sex CHAR(1) NOT NULL,
    hire_date DATE NOT NULL,
    CONSTRAINT pk_Employees PRIMARY KEY (emp_no)
);

-- Create Salaries table
CREATE TABLE Salaries (
    emp_no INT NOT NULL,
    salary INT NOT NULL,
    CONSTRAINT pk_Salaries PRIMARY KEY (emp_no)
);

-- Create Titles table
CREATE TABLE Titles (
    title_id VARCHAR(50) NOT NULL,
    title VARCHAR(50) NOT NULL,
    CONSTRAINT pk_Titles PRIMARY KEY (title_id)
);

-- Add foreign key constraints to Dept_emp table
ALTER TABLE Dept_emp 
ADD CONSTRAINT fk_Dept_emp_emp_no FOREIGN KEY (emp_no)
REFERENCES Employees (emp_no);

ALTER TABLE Dept_emp 
ADD CONSTRAINT fk_Dept_emp_dept_no FOREIGN KEY (dept_no)
REFERENCES Departments (dept_no);

SyntaxError: invalid syntax (1088690115.py, line 1)